html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
    background-color: darkgreen;
    color: ghostwhite;
    font-size: 5rem;
    padding: 2rem;
    font-weight: bolder;
}