html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
    background-color: darkgreen;
    color: ghostwhite;
    font-size: 5rem;
    padding: 2rem;
    font-weight: bolder;
}

.home{
    font-size:4rem;
    background-color:purple;
    color:deeppink;
}

.privacy {
    font-size: 4rem;
    background-color:greenyellow;
    color: midnightblue;
}

.identityAccountLogin {
    font-size: 4rem;
    background-color: blue;
    color: midnightblue;
}

.fruits {
    font-size: 4rem;
    background-color: brown;
    color: yellow;
}

.vrl {
    font-size: 4rem;
    background-color: yellow;
    color: red;
}

.vri {
    font-size: 4rem;
    background-color: yellow;
    color: blue;
}